{% extends 'catalog/base.html' %}


{% block content %}


<div class="container mb-5 mt-5">
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
        <h3 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{local.content1title}}
            </button>
        </h3>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            {{local.content1|safe}}
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {{local.content2title}}
            </button>
        </h3>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            {{local.content2|safe}}
        </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}
