{% extends 'catalog/base.html' %}


{% block content %}

<ul>
<li>Alios autem dicere aiunt multo etiam inhumanius</li>
<li>Saraceni tamen nec amici nobis umquam nec hostes</li>
<li>Siquis enim militarium vel honoratorum aut nobilis</li>
<li>Saepissime igitur mihi de amicitia cogitanti</li>
<li>Etenim si attendere diligenter, existimare vere de</li>
<li>Cognitis enim pilatorum caesorumque funeribus nemo</li>
<li>Accedebant enim eius asperitati, ubi inminuta vel</li>
<li>Dum haec in oriente aguntur, Arelate hiemem agens</li>
<li>Novitates autem si spem adferunt, ut tamquam in</li>
<li>Iam virtutem ex consuetudine vitae sermonisque</li>
</ul>

{% endblock %}