{% comment %}
    {% for publication_record in publication_object_list %}
        {{ publication_record }} <br>
    {% endfor %}
{% endcomment %}

{% if publication_object_list %}

<div class="publication-list">

{% if publication_count %}
<h2>{{publication_count}} publications </h2>
{%else%}
<h2>Liste des publications </h2>
{%endif%}

<table class="table table-hover table-responsive-sm" style="width:100%; border: 1px solid black;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Publication</th>
      <th scope="col">Auteur</th>
      <th scope="col">Type</th>
      <th scope="col">Editeur/Label</th>
      <th scope="col">edit</th>
      
    </tr>
  </thead>
  <tbody>
  {% for publication_record in publication_object_list %}
    <tr>
      


      <td><a href="{{ publication_record.get_absolute_url }}">{{ publication_record.reference }}</a></td> 
      <td>{{ publication_record.name }}</td>
      <td>{{ publication_record.author }}</td>
      <td>{{ publication_record.type_publication }}</td>
      <td>{{ publication_record.label_editor }}</td>

      <td><a href="{% url 'publication-update-pk' publication_record.pk %}">edit</a></td> 

    </tr>

  {% endfor %}

    </tbody>
</table>
    
</div>

{% else %}
<div class="publication-list">
  <h2>Pas de publications</h2>
</div>
{% endif %}