{% extends 'catalog/base.html' %}
{% block jumbotron %}
{% endblock %}

{% block content %}
    {% block contentactions %}
    <nav class="navbar dewey{{object.dewey_number.number}}">
        <div>
        <a href="{% url 'publication-dewey' object.dewey_number.number %}" class="btn btn-sm btn-outline-dark dewey{{object.dewey_number.number}}">< {{object.dewey_number}}</a>
        {%if user.is_authenticated %}
            <a href="{% url 'publication-update-pk' object.pk %}" class="btn btn-sm btn-danger">Editer</a>
        {% endif %}        
        </div>
    </nav>
    {% endblock %}
    {% block contenttitle %}
        <h1>{{ object }}</h1>
    {% endblock %}
    {% block contentdetail %}
        <ul>
            <li>{{object.name}}</li>
            <li>Type : {{object.type_publication}}</li>
            <li>Date : {{object.date_publication}}</li>
            <li>author: 
                <ul>
                    <li>{{object.author}}</li>
                    <li>{{object.author.century_birth}}</li>
                    <li>{{object.author.date_birth}}</li>
                </ul>
            </li>
            <li>contenu :<br> {{ object.content }} </li>
            <li>nb de pistes / de pages  :<br> {{ object.nb_tracks_pages }} </li>
            {%if object.image_file %}
                <li>image attachée :<br> {{ object.image_file }} </li>
            {% endif %}
            {%if object.image_url %}
                <li><img src="{{ object.image_url }}" class="img-fluid" alt="Image associée à {{object.name}}"></li>
            {% endif %}            
            <li>{{object.dewey_number.colored_number}}</li>
        </ul>
    {% endblock %}
{% endblock %}